data/202108-capitalbikeshare-tripdata.csv
data/202107-capitalbikeshare-tripdata.csv
data/202105-capitalbikeshare-tripdata.csv
data/202106-capitalbikeshare-tripdata.csv
data/202109-capitalbikeshare-tripdata.csv
data/202110-capitalbikeshare-tripdata.csv
data/202111-capitalbikeshare-tripdata.csv
data/202112-capitalbikeshare-tripdata.csv
data/202201-capitalbikeshare-tripdata.csv
data/202202-capitalbikeshare-tripdata.csv
data/202203-capitalbikeshare-tripdata.csv
data/202204-capitalbikeshare-tripdata.csv
data/202205-capitalbikeshare-tripdata.csv
data/202206-capitalbikeshare-tripdata.csv
data/202207-capitalbikeshare-tripdata.csv
data/202208-capitalbikeshare-tripdata.csv
data/202209-capitalbikeshare-tripdata.csv
data/202210-capitalbikeshare-tripdata.csv
data/202211-capitalbikeshare-tripdata.csv
data/202212-capitalbikeshare-tripdata.csv
data/202301-capitalbikeshare-tripdata.csv
data/202302-capitalbikeshare-tripdata.csv
data/202303-capitalbikeshare-tripdata.csv
Spark Notebooks/Preprocesssing_MDA2_GA_v3.ipynb
data/201903-capitalbikeshare-tripdata.csv
data/201904-capitalbikeshare-tripdata.csv
data/201905-capitalbikeshare-tripdata.csv
data/201906-capitalbikeshare-tripdata.csv
data/201907-capitalbikeshare-tripdata.csv
data/201908-capitalbikeshare-tripdata.csv
data/201909-capitalbikeshare-tripdata.csv
data/201910-capitalbikeshare-tripdata.csv
data/201911-capitalbikeshare-tripdata.csv
data/201912-capitalbikeshare-tripdata.csv
data/202001-capitalbikeshare-tripdata.csv
data/202002-capitalbikeshare-tripdata.csv
data/202003-capitalbikeshare-tripdata.csv
data/202004-capitalbikeshare-tripdata.csv
data/202005-capitalbikeshare-tripdata.csv
data/202006-capitalbikeshare-tripdata.csv
data/202007-capitalbikeshare-tripdata.csv
data/202008-capitalbikeshare-tripdata.csv
data/202009-capitalbikeshare-tripdata.csv
data/202010-capitalbikeshare-tripdata.csv
data/202011-capitalbikeshare-tripdata.csv
data/202012-capitalbikeshare-tripdata.csv
data/202101-capitalbikeshare-tripdata.csv
data/202102-capitalbikeshare-tripdata.csv
data/202103-capitalbikeshare-tripdata.csv
data/202104-capitalbikeshare-tripdata.csv
data/202304-capitalbikeshare-tripdata.csv
data/202305-capitalbikeshare-tripdata.csv
data/202306-capitalbikeshare-tripdata.csv
data/202307-capitalbikeshare-tripdata.csv
data/202308-capitalbikeshare-tripdata.csv
data/202309-capitalbikeshare-tripdata.csv
data/2017Q1-capitalbikeshare-tripdata.csv
data/2017Q2-capitalbikeshare-tripdata.csv
data/2017Q3-capitalbikeshare-tripdata.csv
data/2017Q4-capitalbikeshare-tripdata.csv
data/201801_capitalbikeshare_tripdata.csv
data/201802-capitalbikeshare-tripdata.csv
data/201803-capitalbikeshare-tripdata.csv
data/201804-capitalbikeshare-tripdata.csv
data/201805-capitalbikeshare-tripdata.csv
data/201806-capitalbikeshare-tripdata.csv
data/201807-capitalbikeshare-tripdata.csv
data/201808-capitalbikeshare-tripdata.csv
data/201809-capitalbikeshare-tripdata.csv
data/201810-capitalbikeshare-tripdata.csv
data/201811-capitalbikeshare-tripdata.csv
data/201812-capitalbikeshare-tripdata.csv
data/201901-capitalbikeshare-tripdata.csv
data/201902-capitalbikeshare-tripdata.csv
data/washinton dc 2018-01-01 to 2020-06-30.csv
data/washinton dc 2020-07-01 to 2023-02-28.csv
data/washinton dc 2023-03-01 to 2023-11-03.csv
.idea/misc.xml
.idea/MODERN DATA II.iml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
data/.DS_Store
.idea/.gitignore
data.zip
